$darkmagenta: #853752;
$pastelviolet: #cc8fa9;
$pastelpink: #e095a2;
$offwhite: #dedce9;
$neutralbrown: #5a2d17;
$neutralgreen: #314124;
$neutralsienna: #67311a;
$pastelplum: #54406d;
$offblack: #080c0f;
$darkblue: #0f273b;
$neutralblue: #374a60;
$neutralpuce: #68737e;
$funteal: #6e9995;
$funpink: #ef3c79;
$western-font: 'Monoton', cursive;
$playful-font: 'Yellowtail', cursive;

$theme1: (
bg-color: $pastelviolet,
font-color: $funteal
);

$theme2: (
bg-color: $funteal,
font-color: $offblack

);
$theme3: (
bg-color: $darkmagenta,
font-color: $funteal
);


@mixin colorswatch($theme){
  color: map-get($theme, font-color);
  background-color:  map-get($theme, bg-color);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

* h1{
  color: inherit;
}

.header {
  h1 {
  font-family: $western-font;
  }
}

.footer-links  {
  font-family: $western-font;
  display: flex;
  flex-direction: row;
  flex: space-around;
  div {
    width: 33%;
    text-align: center;
  }
}

.content-link {
  width: 100%;
  text-align: center;

  @include colorswatch($theme3);
  }

#landing {
  .header {
    text-align: center;
    @include colorswatch($theme1);
  }
  .footer-links {
    @include colorswatch($theme2)

  }
}
